@model LearningHub.Nhs.LearningCredentials.Models.Dsp.UserVerifiableCredentialResponse

@{
    ViewData["Title"] = "Confirm Credential";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nhsuk-width-container app-width-container nhsuk-u-padding-bottom-9">
    <h1 class="nhsuk-heading-xl nhsuk-u-padding-top-3">Send Learning Credential to Wallet</h1>
    <div>
        <p>
            Please check the details of this activity before adding it to your wallet.
        </p>
    </div>

    <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
                Activity name
            </dt>
            <dd class="nhsuk-summary-list__value">
                @Html.DisplayFor(model => model.CredentialName)
            </dd>

        </div>

        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
                Activity date
            </dt>
            <dd class="nhsuk-summary-list__value">
                @Html.DisplayFor(model => model.ActivityDate)
            </dd>

        </div>

        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
                Expiry date
            </dt>
            <dd class="nhsuk-summary-list__value">
                @Html.DisplayFor(model => model.ExpiryDate)
            </dd>

        </div>

        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
                Renewal period
            </dt>
            <dd class="nhsuk-summary-list__value">
                @Html.DisplayFor(model => model.RenewalPeriodText)
            </dd>

        </div>
        
        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
                Origin
            </dt>
            <dd class="nhsuk-summary-list__value">
                elfh Hub
            </dd>

        </div>
        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
                Provider
            </dt>
            <dd class="nhsuk-summary-list__value">
                NHS England TEL
            </dd>

        </div>
        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key no-bottom-border">
                <form asp-controller="DigitalStaffPassport" asp-action="SendCredential" method="post">
                    @Html.HiddenFor(x=>x.VerifiableCredentialId)
                    <button type="submit" class="nhsuk-button nhsuk-u-margin-bottom-0 nhsuk-u-margin-right-3">Confirm</button>
                </form>
            </dt>
            <dd class="nhsuk-summary-list__value no-bottom-border">
                <a asp-action="Credentials" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-0 nhsuk-u-padding-right-3">Cancel</a>
            </dd>
        </div>

    </dl>
</div>