@using LearningHub.Nhs.LearningCredentials.Models.Enums.Dsp;
@using LearningHub.Nhs.UserProfileUI.Models;
@model UserVerifiableCredentialandIdentityResponse
@{
    ViewData["Title"] = "Credentials";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string UpdateCredentialNameWithLevel(string input, int level)
    {
        if (string.IsNullOrWhiteSpace(input))
            return string.Empty; 

        int dashIndex = input.IndexOf('-');
        string modifiedInput = dashIndex >= 0
            ? input.Insert(dashIndex, $" - Level {level}")
            : $"{input} - Level {level}";
        return char.ToUpper(modifiedInput[0]) + modifiedInput.Substring(1).ToLower();
    }

    string CapitalizeFirstLetter(string input)
    {
        if (string.IsNullOrWhiteSpace(input))
            return input;

        return char.ToUpper(input[0]) + input.Substring(1).ToLower();
    }

    
}

@section styles{
    <link rel="stylesheet" type="text/css" href="~/css/pages/digitalstaffpassport.css" asp-append-version="true" />
}

<div class="nhsuk-width-container app-width-container nhsuk-u-padding-bottom-9 nhsuk-u-padding-top-4">
    <div class="nhsuk-u-reading-width">
        @if (TempData["Notification"] != null)
        {
            if (TempData["Notification"] is string notification && notification.Contains("Success"))
            {
                string message = notification.Replace("Success: ", string.Empty);
                <h1 class="nhsuk-u-margin-bottom-4 nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-2">Add learning credentials to your Digital Staff Passport wallet</h1>
                <div class="nhsuk-inset-text">
                    <span class="nhsuk-u-visually-hidden">Information: </span>
                    <p>@message</p>
                </div>
            }
            else
            {
                <div class=" nhsuk-u-padding-top-4">
                    <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
                        <h2 class="nhsuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="nhsuk-error-summary__body">
                            <p>
                                @TempData["Notification"]
                            </p>

                        </div>
                    </div>
                </div>
                <h1 class="nhsuk-u-margin-bottom-4 nhsuk-u-padding-top-1 nhsuk-u-padding-bottom-2">Add learning credentials to your Digital Staff Passport wallet</h1>

            }
        }
        else
        {
            <h1 class="nhsuk-u-margin-bottom-4 nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-2">Add learning credentials to your Digital Staff Passport wallet</h1>
        }
        <p class="nhsuk-body">
            If your employer uses the <a href="https://digital.nhs.uk/services/digital-staff-passport">NHS Digital Staff Passport</a> service, you can add your statutory and mandatory training to your Digital Staff Passport wallet as ‘credentials’. You can then share them with your employer to prove you have completed the learning.
        </p>
        <p> To do this you must:​ </p>
        <ul class="nhsuk-list nhsuk-list--bullet">
                <li>be <a href="https://digital.nhs.uk/services/digital-staff-passport/guidance-and-support/support-for-staff#new-to-dsp">registered for Digital Staff Passport</a></li>
                <li>have completed identity verification and have an NHS Identity credential in your <a href="https://digital.nhs.uk/services/digital-staff-passport/guidance-and-support/support-for-staff#digital-wallet">digital wallet​</a></li>
        </ul>

        @if (Model.UserVerifiableCredentialResponse == null || Model.UserVerifiableCredentialResponse.Count() == 0)
        {
            <p>You do not have any credentials available to add to your digital wallet. To obtain a credential you will need to complete the training relevant to your role within the <a href="https://portal.e-lfh.org.uk/Component/Details/458587" target="_blank">Statutory Mandatory programme</a>.</p>
        }
    </div>
    @if (Model.UserVerifiableCredentialResponse!= null && Model.UserVerifiableCredentialResponse.Any())
    {
        <h2>Your available learning credentials</h2>
        @foreach (var credential in Model.UserVerifiableCredentialResponse)
        {
            <div>
                <div class="nhsuk-grid-row nhsuk-u-padding-top-3">
                    <div class="nhsuk-grid-column-two-thirds">
                        <details class="nhsuk-details nhsuk-u-margin-bottom-3">
                            <summary class="nhsuk-details__summary">
                                <span class="nhsuk-details__summary-text">
                                    @UpdateCredentialNameWithLevel(credential.CredentialName,credential.Level)
                                </span>
                            </summary>
                            <div class="nhsuk-details__text">
                                <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-3">
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                           Core skills subject
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            @CapitalizeFirstLetter(credential.CredentialName)
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Level
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            @credential.Level
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Attainment status
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            ACHIEVED
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Competency framework
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                          CSTF
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Competency name
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                         @CapitalizeFirstLetter(credential.CredentialName)
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Renewal period
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            @credential.RenewalPeriodText
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Proficiency level
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">

                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Date to
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            @credential.ExpiryDate.ToString("dd MMM yyyy")
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Last date awarded
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            @credential.ActivityDate.ToString("dd MMM yyyy")
                                        </dd>
                                    </div>
                                   
                                  
                                    @if (credential.ActivityDate > credential.DSPActivityDate)
                                    {
                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key">
                                                Last refresh
                                            </dt>
                                            <dd class="nhsuk-summary-list__value">
                                                @credential.ActivityDate.ToString("dd MMM yyyy 'at' HH:mm")
                                            </dd>
                                        </div>
                                    }
                                </dl>
                                <details class="nhsuk-details">
                                    <summary class="nhsuk-details__summary">
                                        <span class="nhsuk-details__summary-text">
                                            Show all attributes
                                        </span>
                                    </summary>
                                    <div class="nhsuk-details__text">
                                        <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-3">

                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Origin
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    @credential.Origin
                                                </dd>
                                            </div>
                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Assurance policy
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    Core Skills Training Framework(CSTF)
                                                </dd>
                                            </div>
                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Assurance outcome
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    CSTF applied
                                                </dd>
                                            </div>
                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Provider
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    @credential.Provider
                                                </dd>
                                            </div>
                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Verifier
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    @credential.Provider
                                                </dd>
                                            </div>
                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Verification method
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    elearning completion
                                                </dd>
                                            </div>
                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Pedigree
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    Sourced
                                                </dd>
                                            </div>
                                        </dl>

                                    </div>
                                </details>

                                @if (credential.DisplayStatus == UserVerifiableCredentialDisplayStatusEnum.LaterActivityAvailable)
                                {
                                    <p>
                                        You have a later completion for this credential. Update by re-sending it to your digital wallet.
                                    </p>
                                }
                                @if (Model.IdentityVerified)
                                {
                                    @if (@credential.ExpiryDate >= DateTimeOffset.Now)
                                    {
                                        var buttonLabel = string.Empty;
                                        var linkAction = string.Empty;
                                        @if (credential.Status == UserVerifiableCredentialStatusEnum.Created)
                                        {
                                            <a class="nhsuk-button nhsuk-u-margin-bottom-0 nhsuk-u-margin-right-3" asp-action="ResendConfirmation" asp-route-id="@credential.VerifiableCredentialId">Add to wallet again</a>
                                        }
                                        else
                                        {
                                            <form asp-controller="DigitalStaffPassport" asp-action="SendCredential" method="post">
                                                @Html.Hidden("verifiableCredentialId", credential.VerifiableCredentialId)
                                                <button type="submit" class="nhsuk-button nhsuk-u-margin-bottom-0 nhsuk-u-margin-right-3">Add to wallet</button>
                                            </form>
                                        }
                                    }
                                }
                                else
                                {
                                    <a class="nhsuk-button nhsuk-u-margin-bottom-0 nhsuk-u-margin-right-3" asp-action="VerifyIdentity">Verify your identity</a>
                                }
                            </div>
                        </details>
                    </div>
                    <div class="nhsuk-grid-column-one-thirds nhsuk-grid-column--desktop-text-align-right">
                        @if (credential.DisplayStatus != UserVerifiableCredentialDisplayStatusEnum.NotSentToDigitalWallet 
                                && @credential.DSPExpiryDate >= DateTimeOffset.Now
                                && credential.Status == UserVerifiableCredentialStatusEnum.Created)
                        {
                            <strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-margin-bottom-2">Added to wallet</strong>
                        }
                        @if (@credential.DSPExpiryDate < DateTimeOffset.Now)
                        {
                            <strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">Expired</strong>
                        }
                        @if (credential.DisplayStatus == UserVerifiableCredentialDisplayStatusEnum.LaterActivityAvailable)
                        {
                            <strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-2">Update available</strong>
                        }
                        @if (credential.Status == UserVerifiableCredentialStatusEnum.Revoked)
                        {
                            <strong class="nhsuk-tag nhsuk-tag--red nhsuk-u-margin-bottom-2">Revoked</strong>
                        }
                    </div>
                </div>
                <hr class="nhsuk-section-break nhsuk-section-break--visible">
            </div>
        }
    }
</div>
