@using LearningHub.Nhs.LearningCredentials.Models.Enums.Dsp;
@using LearningHub.Nhs.UserProfileUI.Models;
@model UserVerifiableCredentialandIdentityResponse
@{
    ViewData["Title"] = "Credentials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" type="text/css" href="~/css/pages/digitalstaffpassport.css" asp-append-version="true" />
}

<div class="nhsuk-width-container app-width-container nhsuk-u-padding-bottom-9">
    <div class="nhsuk-u-reading-width">
        <div class="nhsuk-secondary-text nhsuk-u-secondary-text-color nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-2">Digital Staff Passport</div>
        <h1 class="nhsuk-u-margin-bottom-4">Download Credentials</h1>
        @if (Model.UserVerifiableCredentialResponse == null || Model.UserVerifiableCredentialResponse.Count() == 0)
        {
            <p>You do not have any credentials available to send to your digital wallet. To obtain a credential you will need to complete the training relevant to your role within the <a href="https://portal.e-lfh.org.uk/Component/Details/458587" target="_blank">Statutory Mandatory programme</a>.</p>
        }
        else
        {
            <p>This is a list of your completed courses that are available and ready to add to a digital wallet.</p>
        }
    </div>
    @if (Model.UserVerifiableCredentialResponse!= null && Model.UserVerifiableCredentialResponse.Any())
    {
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    How to setup a learning credential on your phone
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <p>** COPY REQUIRED **</p>
            </div>
        </details>
        <h2>Your available learning credentials</h2>
        @foreach (var credential in Model.UserVerifiableCredentialResponse)
        {
            <div>
                <div class="nhsuk-grid-row nhsuk-u-padding-top-3">
                    <div class="nhsuk-grid-column-two-thirds">
                        <details class="nhsuk-details nhsuk-u-margin-bottom-3">
                            <summary class="nhsuk-details__summary">
                                <span class="nhsuk-details__summary-text">
                                    @credential.CredentialName
                                </span>
                            </summary>
                            <div class="nhsuk-details__text">
                                <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-3">
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Activity date
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            @credential.ActivityDate.ToString("dd MMM yyyy")
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Expiry date
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            @credential.ExpiryDate.ToString("dd MMM yyyy")
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Renewal period
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            @credential.RenewalPeriodText
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Wallet expiry date
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            @if (credential.DSPExpiryDate == null)
                                            {
                                                <p>Not added to wallet</p>
                                            }
                                            else
                                            {
                                                @credential.DSPExpiryDate.Value.ToString("dd MMM yyyy")
                                            }
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Origin
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            @credential.Origin
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Provider
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            @credential.Provider
                                        </dd>
                                    </div>
                                </dl>
                                @if (credential.DisplayStatus == UserVerifiableCredentialDisplayStatusEnum.LaterActivityAvailable)
                                {
                                    <p>
                                        You have a later completion for this credential. Update by re-sending it to your digital wallet.
                                    </p>
                                }
                                @if (Model.IdentityVerified)
                                {
                                    @if (@credential.ExpiryDate >= DateTimeOffset.Now)
                                    {
                                        var buttonLabel = string.Empty;
                                        var linkAction = string.Empty;
                                        @if (credential.Status == UserVerifiableCredentialStatusEnum.Created)
                                        {
                                            buttonLabel = "Resend to my digital wallet";
                                            linkAction = "ResendConfirmation";
                                        }
                                        else
                                        {
                                            buttonLabel = "Send to my digital wallet";
                                            linkAction = "ConfirmCredential";
                                        }

                                        <a class="nhsuk-button nhsuk-u-margin-bottom-0 nhsuk-u-margin-right-3" asp-action="@linkAction" asp-route-id="@credential.UserVerifiableCredentialId">@buttonLabel</a>

                                    }
                                }
                                else
                                {
                                    <a class="nhsuk-button nhsuk-u-margin-bottom-0 nhsuk-u-margin-right-3" asp-action="VerifyIdentity">Click to verify your identity</a>
                                }
                            </div>
                        </details>
                    </div>
                    <div class="nhsuk-grid-column-one-thirds nhsuk-grid-column--desktop-text-align-right">
                        @if (credential.DisplayStatus != UserVerifiableCredentialDisplayStatusEnum.NotSentToDigitalWallet 
                                && @credential.DSPExpiryDate >= DateTimeOffset.Now
                                && credential.Status == UserVerifiableCredentialStatusEnum.Created)
                        {
                            <strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-margin-bottom-2">Added to wallet</strong>
                        }
                        @if (@credential.DSPExpiryDate < DateTimeOffset.Now)
                        {
                            <strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">Expired</strong>
                        }
                        @if (credential.DisplayStatus == UserVerifiableCredentialDisplayStatusEnum.LaterActivityAvailable)
                        {
                            <strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-2">Update available</strong>
                        }
                        @if (credential.Status == UserVerifiableCredentialStatusEnum.Revoked)
                        {
                            <strong class="nhsuk-tag nhsuk-tag--red nhsuk-u-margin-bottom-2">Revoked</strong>
                        }
                    </div>
                </div>
                <hr class="nhsuk-section-break nhsuk-section-break--visible">
            </div>
        }
    }
</div>
