@model IEnumerable<LearningHub.Nhs.LearningCredentials.Models.Dsp.UserVerifiableCredentialResponse>

@{
    ViewData["Title"] = "ListUserCredentials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nhsuk-width-container app-width-container nhsuk-u-padding-bottom-9">
    <h1>Digital Staff Passport Credentials</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CredentialName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActivityDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AttainmentStatus)
                </th>
                <th>
                    Added to DSP Date
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CredentialName)
                    </td>
                    <td>
                        @if (item.ActivityDate != DateTimeOffset.MinValue)
                        {
                            @Html.DisplayFor(modelItem => item.ActivityDate)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AttainmentStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddedToDSPDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>