@model UserVerifiableCredentialModel

@{
    ViewData["Title"] = "Credentials";
}

<div class="nhsuk-width-container app-width-container nhsuk-u-padding-bottom-9">
    <h1>@Model.CredentialName</h1>

    <h2>Credentials sent to digital wallet</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Activity Date
                </th>
                <th>
                    Status
                </th>
                <th>
                    Added to digital wallet
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UserVerifiableCredentials)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.ActivityDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddedToDSPDate)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id=item.UserVerifiableCredentialId }) | @Html.ActionLink("Revoke", "Revoke", new { id=item.UserVerifiableCredentialId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-action="FullList">Back to Credentials List</a>
    </div>
</div>